html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

:root{
	--leftcolwidth: 11rem;
	--bottomfooterheight: 3em;
	--mainfontsize: 19px;
	
	
	--palate-bg-lightest:#FFFFFF;
	--palate-bg-verylight:#F5F5F5;
	--palate-bg-light:#DDDDDD;
	--palate-bg-grey:#a5a5a5;
	--palate-bg-darkgrey:#666666;
	--palate-bg-dark:#242424;
	--palate-bg-darkest:#121212;

	--palate-text-dark:#272727;
	--palate-text-light:#c9c9c9;
	--palate-text-verylight:#e7e7e7;
	--palate-text-lightest:#FFFFFF;

	--palate-bg-red:#FF3E3E;
	--palate-bg-blue:#467aff;
}

html, body{
	height: 100%;
	overflow: hidden;
	margin: 0;
}

.page-container {
	height: 100%;
}

.left-panel {
	float: left;
	width: var(--leftcolwidth);
	height: 100%;
	overflow: auto;
	box-sizing: border-box;
	background-color: var(--palate-bg-darkest);
	-webkit-overflow-scrolling: touch;
}

.right-panel {
	float: left;
	width: calc(100% - var(--leftcolwidth));
	height: 100%;
	overflow: auto;
	box-sizing: border-box;
	overflow-y:scroll;
	-webkit-overflow-scrolling: touch;
	
}

.nav-menu {
	margin-top:1em;
	margin-bottom:1em;
}

.mobilenavcontainer{
	display: none;
	height: 0em;
	max-height: calc(90vh - 2rem);
	position: fixed;
	bottom: 2em;
	right: calc(50% - calc(var(--leftcolwidth)/2));
	width: var(--leftcolwidth);
	border-radius: 5px;
	overflow: auto;
	box-sizing: border-box;
	overflow-y:scroll;
	-webkit-overflow-scrolling: touch;
	background-color: var(--palate-bg-darkest);
	transition: height 0.2s;
	transition-timing-function: ease-out;
}

.nav-button{
	display: none;
	position:fixed;
	bottom: 0.5em;
	right: calc(50% - calc(var(--leftcolwidth)/2));
	width: var(--leftcolwidth);
	height: 0.8em;
	background-color: var(--palate-bg-darkest);
	border-top-left-radius: 0.8em;
	border-top-right-radius: 0.8em;
}

.nav-button:hover{
	background-color:var(--palate-bg-dark);
}

.main-content{
	background-color: var(--palate-bg-lightest);
	color:var(--palate-text-dark);
	margin:auto;
	margin-left:1.5rem;
	margin-top:1rem;
	margin-right:1.5rem;
	margin-bottom: 1rem;
	font-size: var(--mainfontsize);
	max-width:33rem;
}


@media screen and (max-width: 47.8rem) {
	.left-panel{
		display: none;
	}

	.right-panel{
		width: 100%;
		
	}

	.nav-button{
		display: block;
	}

	.main-content{
		margin-left:1em;
		margin-right:1em;
		margin-bottom:2em;
	}

	.mobilenavcontainer{
		display: block;
	}
}

.nav-menu a {
  padding: 2px 1.7em 2px 1.7em;
  text-decoration: none;
  font-size: 13px;
  color: var(--palate-text-light);
  display: block;
  font-family: 'Noto Sans', sans-serif;
  border-radius: 3px;
}

.nav-menu .navlinks:hover {
  color: var(--palate-text-light);
  background-color: var(--palate-text-dark);
}

.nav-menu .sidenavdivider{
	border-radius: 0px;
	border-top: 1px solid var(--palate-bg-darkgrey);
	margin: 8px 1.7em 4px 1.7em;
	
}

.nav-menu .navlink-title{
	font-weight: bold;
	color: var(--palate-text-verylight) !important;
	margin-bottom: 2px !important;
}

/*
.active-expandable-link{
	
}
*/





.expandable-link-container{
	display:none;
}

.expandable-link-container a{
	text-indent: 0.7em;
	padding: 2px 0em 2px 2em;
}

.active-spyscroll-link{
	border-right: 5px solid var(--palate-bg-lightest);
 	border-top-right-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
	background-color: var(--palate-text-dark);
	color: var(--palate-text-verylight) !important;
	
}

h2 {
    /*
    font-family: 'Noto Sans', sans-serif;
    text-align: left;
    font-size: 28px;
    margin-bottom: 0.5em;
	*/


	font-family: 'Crimson Text', serif;
    font-size: 35px;
	margin-bottom: 0.1em;
    font-weight: bold;
	font-variant: small-caps;
	letter-spacing: 0.12em;
	line-height: 1.3em;
	text-align: center;
	
}

h3 {
    
    font-family: 'Crimson Text', serif;
    font-size: 24px;
	margin-bottom: 0.4em;
	margin-top:0.5em;
    border-bottom: 2px solid var(--palate-bg-darkgrey);
    font-weight: bold;
	font-variant: small-caps;
	letter-spacing: 1.5px;
	line-height: 1.3em;
	
}

p {
	font-family: 'Crimson Text', serif;
	font-size: var(--mainfontsize);
	margin-bottom: 0.5em;
	text-indent: 0em;
	line-height: 135%;
	text-indent: 1em;
}

img {
	width: 33rem;
	border-top-right-radius: 10px;
}

ul {
    position: relative;
    list-style: none;
    margin-left: 0;
    margin-bottom: 0.5em;
    /*padding-left: 1.2em;*/
    line-height: 130%;
}



ul li:before {
    content: "•";
    position: absolute;
    left: 0.8em;
}

li {
    font-family: 'Crimson Text', serif;
    font-size: var(--mainfontsize);
	line-height: 120%;
	/*margin-bottom: 0.3em;*/
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	padding-left: 2em;
}



li:nth-child(even){
	background-color: var(--palate-bg-verylight);
}



table {
	font-family: 'Noto Sans', sans-serif;
	font-variant: tabular-nums;
    font-size: 12px;
    border-collapse: collapse;
    width: 100%;
	margin-bottom: 1.8em;
	margin-top: 1.8em;
}

td, th {
	
    text-align: left;
	padding: 0.5em;
	padding-left: 1em;
	padding-right: 1em;
	white-space: nowrap;
	min-width: 5em;
}

tr {
	border: 1px solid var(--palate-bg-grey);
	
}


tr:hover {
	background-color:  var(--palate-bg-blue) !important;
	color: var(--palate-bg-lightest);
	
}


td:last-child {
    width: 100%;
}

th {
	color: var(--palate-bg-verylight);
	background-color: var(--palate-bg-darkest);
	font-weight: normal;
	border: 0px;
}

tr:nth-child(even) {
    background-color: var(--palate-bg-light);
}

tr:nth-child(odd) {
    background-color: var(--palate-bg-verylight);
}

.combo-container{
	border-left: 1px solid var(--palate-bg-grey);
	border-bottom: 1px solid var(--palate-bg-grey);
	
}

.combo-container:hover{
	border-left: 5px solid var(--palate-bg-darkest);;
	border-bottom: 1px solid var(--palate-bg-darkest);;
}

.combo-container:hover + .combodetail{
	color:var(--palate-text-dark);
}

.spanleft {
	text-indent: 0em;
	font-family: 'Noto Sans', sans-serif;
	font-variant: tabular-nums;
	font-size: 13px;
	text-align:left;
	margin-bottom: 0.18em;
	font-weight:600;
	padding-bottom: 0px;
}

.spanright {
	text-indent: 0em;
	font-family: 'Noto Sans', sans-serif;
	font-variant: tabular-nums;
	font-size: 10px;
	float:right;
	margin-bottom: 0;
	font-weight:normal;
	margin-left: 3px;
}

.exbonus {
	color: var(--palate-text-lightest);
	background-color: var(--palate-bg-grey);
	border-radius: 2px;
	padding-left: 7px;
	padding-right: 7px;
	min-width: 5em;
	text-align: center;
}

.exbar {
	color: var(--palate-text-lightest);
	background-color: var(--palate-bg-blue);
	border-radius: 2px;
	padding-left: 7px;
	padding-right: 7px;
}

.vbar {
	color: var(--palate-text-lightest);
	background-color: var(--palate-bg-red);
	border-radius: 2px;
	padding-left: 7px;
	padding-right: 7px;
}

.dmgstun{

	text-indent: 0em;
	font-family: 'Noto Sans', sans-serif;
	font-variant: tabular-nums;
	font-size: 10px;
	float:left;
	margin-bottom: 0;
	font-weight:600;
	background-color: var(--palate-bg-verylight);
	color: var(--palate-bg-darkgrey);
	border-top-right-radius: 2px;
	padding-left: 7px;
	padding-right: 7px;
	margin-right:8px;
	padding-bottom: 7px;
	text-decoration: underline;
	text-underline-position: under;
	

}


.combodetail{
	padding: 0.2em;
	font-family: 'Noto Sans', sans-serif;
	font-size: 11px;
	margin-bottom: 0.9em;
	text-align:left;
	
}

video {
	width: 100% ;
	height: auto ;
}

.videotext{
	text-indent: 0;
	font-family: 'Noto Sans', sans-serif;
	font-size: 12px;
	font-style:italic;
	margin-bottom: 1em;
	text-align:left;
}

.quote {
	font-style: italic;
	border-left: 5px solid var(--palate-bg-darkest);
	padding-left: 1em;
	text-indent: 0;
	background-color: var(--palate-bg-verylight);
	padding-right: 0.4em;
	padding-top: 0.4em;
	padding-bottom: 0.4em;
}

.codeblock {
	font-family: 'Roboto mono', monospace;
	font-size: 12px;
	margin-bottom: 0em;
	text-indent: 0;
	background-color: var(--palate-bg-verylight);
	padding: 0.5em;
	border-radius: 2px;
	border-bottom-left-radius: 0px;
	padding-left: 0.7em;
	font-weight: 500;
}

form {
	font-family: 'Noto Sans', sans-serif;
	display:inline-block;
	padding: 0em;
	width: 100%;
}

label {
	font-family: 'Noto Sans', sans-serif;
	font-size: 13px;
}

input[type=checkbox], input[type=radio] 
{
    vertical-align: middle;
    position: relative;
    bottom: 0.5px;
	width:10px;
}

input{
	font-family: 'Noto Sans', sans-serif;
	font-size: 13px;
	margin: 3px;
	width: 6em;
}

input.long_input{
	font-family: 'Roboto mono', monospace;
	width: 100%;
}

select{
	font-family: 'Noto Sans', sans-serif;
	margin: 3px;
	width: 17em;
	font-size: 13px;
}

textarea{
	font-family: 'Noto Sans', sans-serif;
	margin: 3px;
	width: 100%;
}