html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

:root{
	--leftcolwidth: 11rem;
	--main-content-width: 40rem;
	--mainfontsize: 19px;

	--c-primary-900:#20252b;
	--c-primary-800:#262C33;
	--c-primary-750:#2A3038;
	--c-primary-700:#2E343D;
	--c-primary-600:#333B45;
	--c-primary-500:#45484d;
	--c-primary-400:#7A7D7F;
	--c-primary-300:#AEB2B8;
	--c-primary-200:#CAD1D6;
	--c-primary-100:#e3e9ee;

	--c-accent-o-400:#cc9d67;
	--c-accent-o-200:#E5B073;
	
	--c-accent-g-300:#9fc58f;
	--c-accent-g-200:#a5cf95;

	--c-accent-r-300:#ad3b43;
	--c-accent-b-300:#4e6ec0;


}

html, body{
	height: 100%;
	overflow: hidden;
	margin: 0;
	background-color: var(--c-primary-800);
}

.page-container {
	height: 100%;
}

.left-panel {
	float: left;
	width: var(--leftcolwidth);
	height: 100%;
	overflow: auto;
	box-sizing: border-box;
	background-color: var(--c-primary-900);
	-webkit-overflow-scrolling: touch;
}

.right-panel {
	float: left;
	width: calc(100% - var(--leftcolwidth));
	height: 100%;
	overflow: auto;
	box-sizing: border-box;
	overflow-y:scroll;
	-webkit-overflow-scrolling: touch;
	
}

.nav-menu {
	margin-top:1em;
	margin-bottom:1em;
}

.mobilenavcontainer{
	display: none;
	height: 0em;
	max-height: calc(90vh - 2rem);
	position: fixed;
	bottom: 2.5em;
	right: calc(50% - calc(var(--leftcolwidth)/2));
	width: var(--leftcolwidth);
	border-radius: 5px;
	overflow: auto;
	box-sizing: border-box;
	overflow-y:scroll;
	-webkit-overflow-scrolling: touch;
	background-color: var(--c-primary-900);
	transition: height 0.2s;
	transition-timing-function: ease-out;
	box-shadow: 1px -1px 6px rgb(0 0 0 / 45%);
}

.nav-button{
	display: none;
	position:fixed;
	bottom: 0.5em;
	right: calc(50% - calc(var(--leftcolwidth)/2));
	width: var(--leftcolwidth);
	height: 1em;
	background-color: var(--c-accent-o-400);
	opacity: 0.9;
	border-top-left-radius: 0.8em;
	border-top-right-radius: 0.8em;
	border-bottom-right-radius: 0.8em;
	border-bottom-left-radius: 0.8em;
	
	
	
	
}

.nav-button:hover{
	
	box-shadow: 1px -1px 6px rgb(0 0 0 / 45%);
}

.main-content{
	
	color:var(--c-primary-300);
	margin:auto;
	margin-left:1.5rem;
	margin-top:1rem;
	margin-right:1.5rem;
	margin-bottom: 1rem;
	font-size: var(--mainfontsize);
	max-width: var(--main-content-width);
}


@media screen and (max-width: 47.8rem) {
	.left-panel{
		display: none;
	}

	.right-panel{
		width: 100%;
		
	}

	.nav-button{
		display: block;
	}

	.main-content{
		margin-left:1em;
		margin-right:1em;
		margin-bottom:2em;
	}

	.mobilenavcontainer{
		display: block;
	}
}

.nav-menu a {
  padding: 2px 1.7em 2px 1.7em;
  text-decoration: none;
  font-size: 13px;
  color: var(--c-primary-200);
  display: block;
  font-family: 'Noto Sans', sans-serif;
  
}

.nav-menu .navlinks:hover {
  color: var(--c-primary-100);
  background-color: var(--c-primary-800);
  border-radius: 3px;
}

.nav-menu .sidenavdivider{
	border-radius: 0px;
	border-top: 1px solid var(--c-primary-500);
	margin: 8px 1.7em 4px 1.7em;
	
}

.nav-menu .navlink-title{
	color: var(--c-accent-o-200);
	margin-bottom: 2px;
}

/*
.active-expandable-link{
	
}
*/

.expandable-link-container{
	display:none;
}

.expandable-link-container a{
	text-indent: 0.7em;
	padding: 2px 0em 2px 2em;
}

.active-spyscroll-link{
	border-right: 5px solid var(--c-accent-o-400);
 	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	background-color: var(--c-primary-800);
	color: var(--c-primary-100) ;
	
}

h2 {
	font-family: 'Crimson Pro', serif;
    font-size: 35px;
	margin-bottom: 0.1em;
	font-variant: small-caps;
	letter-spacing: 0.12em;
	line-height: 1.3em;
	text-align: center;
	color:var(--c-accent-o-200);
	
}

h3 {
    
    font-family: 'Crimson Pro', serif;
    font-size: 24px;
	margin-bottom: 0.4em;
	margin-top:0.5em;
    border-bottom: 2px solid var(--c-accent-o-400);
	font-variant: small-caps;
	letter-spacing: 1.5px;
	line-height: 1.3em;
	color:var(--c-accent-o-200);
	
}

p {
	font-family: 'Crimson Pro', serif;
	font-size: var(--mainfontsize);
	margin-bottom: 0.5em;
	text-indent: 0em;
	line-height: 130%;
	text-indent: 1em;
	letter-spacing: 0.01em;
}

img {
	width: 100%;
	border-top-right-radius: 10px;
	max-height: 100px;
	object-fit: cover;
	object-position: 100% 20%;
	
	
}

ul {
    position: relative;
    list-style: none;
    margin-left: 0;
    margin-bottom: 0.5em;
    line-height: 130%;
	
}


ul li:before {
    content: "•";
    position: absolute;
    left: 0.8em;
	COLOR: var(--c-accent-o-400)
}

li {
    font-family: 'Crimson Pro', serif;
    font-size: var(--mainfontsize);
	line-height: 120%;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	padding-left: 2em;
}

li:hover{
	background-color: var(--c-accent-o-400);
	color: var(--c-primary-800);
}


li:nth-child(even){
	background-color: var(--c-primary-750);
}

li:nth-child(even):hover{
	background-color: var(--c-accent-o-400);
	color: var(--c-primary-900);
}

th{
	color: var(--c-accent-g-300) !important;
	
	
}

table {
	font-family: 'Noto Sans', sans-serif;
	font-variant: tabular-nums;
    font-size: 12px;
    border-collapse: collapse;
    width: 100%;
	margin-bottom: 1.8em;
	margin-top: 1em;
	color: var(--c-primary-200);
	
}

table:hover {
	box-shadow: 1px -1px 6px rgb(0 0 0 / 45%);
}



td, th {
	
    text-align: left;
	padding: 0.5em;
	padding-left: 1em;
	padding-right: 1em;
	white-space: nowrap;
	min-width: 1em;
}



tr {
	border: 1px solid var(--c-primary-600);
	
}

td:last-child {
    width: 100%;
}


@media screen and (max-width: 47.8rem) {
	td:nth-of-type(8){
		display: none;
	}

	td:nth-of-type(9){
		display: none;
	}

	th:nth-of-type(8){
		display: none;
	}

	th:nth-of-type(9){
		display: none;
	}

}

th {
	color: var(--c-primary-100);
	background-color: var(--c-primary-900);
	font-weight: normal;
	border: 0px;
}

tr:nth-child(even) {
    background-color: var(--c-primary-700);
}

tr:nth-child(odd) {
    background-color: var(--c-primary-750);
}

tr:hover {
	background-color:  var(--c-accent-o-400) ;
	color: var(--c-primary-800);
	
}

.combo-container{
	border-left: 1px solid var(--c-primary-900);
	border-bottom: 1px solid var(--c-primary-900);
	
}



.combo-container:hover{
	border-left: 5px solid var(--c-accent-o-400);
	
	
}

.combo-container:hover + .combodetail{
	color:var(--c-primary-300);
}

.spanleft {
	text-indent: 0em;
	font-family: 'Noto Sans', sans-serif;
	font-variant: tabular-nums;
	font-size: 13px;
	text-align:left;
	margin-bottom: 0.18em;
	font-weight:normal;
	padding-bottom: 0px;
	color: var(--c-accent-o-200);	
}


.comboname{
	letter-spacing: 0.05em;
	
}

.combo-and-detail{
	margin-bottom: 0.4em;
}

.combo-and-detail:nth-of-type(2n) .comboname{
	color: #9fc58f;
}

.spanright {
	text-indent: 0em;
	font-family: 'Noto Sans', sans-serif;
	font-variant: tabular-nums;
	font-size: 10px;
	float:right;
	margin-bottom: 0;
	font-weight:normal;
	margin-left: 3px;
}

.exbonus {
	color:var(--c-primary-100);
	background-color: var(--c-primary-600);
	border-radius: 2px;
	padding-left: 7px;
	padding-right: 7px;
	min-width: 5em;
	text-align: center;
	letter-spacing: 0em;
}

.exbar {
	color: var(--c-primary-100);
	background-color: var(--c-accent-b-300);
	border-radius: 2px;
	padding-left: 7px;
	padding-right: 7px;
	letter-spacing: 0em;
	letter-spacing: 0em;
}

.vbar {
	color: var(--c-primary-100);
	background-color: var(--c-accent-r-300);
	border-radius: 2px;
	padding-left: 7px;
	padding-right: 7px;
}

.dmgstun{

	text-indent: 0em;
	font-family: 'Noto Sans', sans-serif;
	font-variant: tabular-nums;
	font-size: 10px;
	float:left;
	margin-bottom: 0;
	font-weight:600;
	background-color: var(--c-primary-750);
	color: var(--c-primary-400);
	border-top-right-radius: 2px;
	padding-left: 7px;
	padding-right: 7px;
	margin-right:8px;
	padding-bottom: 7px;
	text-decoration: underline;
	text-underline-position: under;
	letter-spacing: 0em;

}

.combodetail{
	padding: 0.2em 0.5em 0.3em 0.5em;
	font-family: 'Noto Sans', sans-serif;
	font-size: 11px;
	/*margin-bottom: 0.9em;*/
	text-align:left;
	
}

video {
	width: 100% ;
	height: auto ;
	box-shadow: 1px -1px 6px rgb(0 0 0 / 45%);
}

.videotext{
	text-indent: 0;
	font-family: 'Noto Sans', sans-serif;
	font-size: 12px;
	font-style:italic;
	margin-bottom: 1em;
	text-align:left;
}

.quote {
	font-style: italic;
	border-left: 5px solid var(--c-accent-o-400);
	padding-left: 1em;
	text-indent: 0;
	background-color: var(--c-primary-750);
	padding-right: 0.4em;
	padding-top: 0.4em;
	padding-bottom: 0.4em;
	letter-spacing: 0.03em;
	color:var(--c-accent-o-400);
	
}

.codeblock {
	font-family: 'Roboto mono', monospace;
	font-size: 12px;
	margin-bottom: 0em;
	text-indent: 0;
	background-color: var(--c-primary-750);
	padding: 0.5em;
	border-radius: 2px;
	border-bottom-left-radius: 0px;
	padding-left: 0.7em;
	font-weight: 500;
	color:var(--c-primary-300);
}



form {
	font-family: 'Noto Sans', sans-serif;
	display:inline-block;
	padding: 0em;
	width: 100%;
	
	
}

label {
	font-family: 'Noto Sans', sans-serif;
	font-size: 13px;
}

input[type=checkbox], input[type=radio] 
{
    vertical-align: middle;
    position: relative;
    bottom: -0.7px;
	width:10px;
	filter: invert(90%) hue-rotate(340deg) brightness(1.6);
	margin-left: 5px;
}

input{
	font-family: 'Noto Sans', sans-serif;
	font-size: 13px;
	margin: 3px;
	width: 6em;
	background-color: var(--c-primary-600);
	border:1px solid var(--c-primary-900);
	color: var(--c-primary-300);
	padding-left: 0.3em;
	border-radius: 2px;
}

input::placeholder{
	color: var(--c-primary-400);
}



input.long_input{
	font-family: 'Roboto mono', monospace;
	width: 100%;
	color: var(--c-primary-300);
	
}

select{
	font-family: 'Noto Sans', sans-serif;
	margin: 3px;
	width: 17em;
	font-size: 13px;
	background-color: var(--c-primary-600);
	color: var(--c-primary-300);
	border:1px solid var(--c-primary-900);
	border-radius: 2px;
}

textarea{
	font-family: 'Noto Sans', sans-serif;
	margin: 3px;
	width: 100%;
	background-color: var(--c-primary-600);
	color: var(--c-primary-300);
	padding-left: 0.3em;
	border:1px solid var(--c-primary-900);
	border-radius: 2px;
	max-width: 100%;
	min-width: 100%;
}

input[type=submit]{
	padding: 3px;
}

