html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

:root{
	--leftcolwidth: 11em;

}


html, body{
	height: 100%;
	overflow: hidden;
	margin: 0;

}



#content {
	height: 100%;
}

.left {
	float: left;
	width: var(--leftcolwidth);
	height: 100%;
	overflow: auto;
	box-sizing: border-box;
	background-color: #111;
	-webkit-overflow-scrolling: touch;
	
	
}

.right {
	float: left;
	width: calc(100% - var(--leftcolwidth));
	height: 100%;
	overflow: auto;
	box-sizing: border-box;
	overflow-y:scroll;
	-webkit-overflow-scrolling: touch;
	
}






.sidenav {
	margin-top:1em;
	margin-bottom:1em;
}




@media screen and (max-width: 45em) {
	.left{
		display: none;
	}

	.right{
		width: 100%;
	}

}

.sidenav a {
  padding: 3px 1em 3px 1em;
  text-decoration: none;
  font-size: 16px;
  color: #818181;
  display: block;
  font-family: 'Roboto', sans-serif;
}

.sidenav a:hover {
  color: #f1f1f1;
  background-color: rgb(158, 158, 158);
}




.main{
	background-color: #FFFFFF;
	color:#1e1e1e ;
	max-width:30em;
	margin:auto;
	margin-left:1em;
	margin-top:1em;
	margin-right:1em;
	
	
}

@media screen and (max-width: 45em) {
	.main{
		margin-left:1em;
	}

}

h2 {
    font-family: 'Crimson Text', serif;
    text-align: center;
    font-size: 28px;
    margin-bottom: 0.5em;
    font-weight: 500;
}

h3 {
	font-family: 'Crimson Text', serif;
	font-size: 18px;
	margin-bottom: 0.5em;
	border-bottom: 1px solid #1e1e1e;
	font-weight: 600;
}

p {
	font-family: 'Crimson Text', serif;
	font-size: 18px;
	margin-bottom: 0.5em;
	text-indent: 1em;
	line-height: 125%;
}


ul {
    position: relative;
    list-style: none;
    margin-left: 0;
    margin-bottom: 0.5em;
    padding-left: 1.2em;
    line-height: 125%;
}

    ul li:before {
        content: "▸";
        position: absolute;
        left: 0;
    }

li {
    font-family: 'Crimson Text', serif;
    font-size: 18px;
    line-height: 125%;
}



.spanleft {
	text-indent: 0em;
	font-family: 'Roboto mono', monospace;
	font-size: 13px;
	text-align:left;
	margin-bottom: 0;
	font-weight:bold;
}

.spanright {
	text-indent: 0em;
	font-family: 'Roboto mono', monospace;
	font-size: 13px;
	float:right;
	margin-bottom: 0;
	font-weight:bold;
}

video {
	width: 100% ;
	height: auto ;
}

.videotext{
	text-indent: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	font-style:italic;
	margin-bottom: 1em;
	text-align:left;
	
	
}



.quote {
	font-style: italic;
	border-left: 5px solid #1e1e1e;
	padding-left: 1em;
	text-indent: 0;
}

.codeblock {
	font-family: 'Roboto mono', monospace;
	font-size: 13px;
	margin-bottom: 0.5em;
	text-indent: 0;
	background-color: #e0e0e0;
	padding: 0.5em;
	border-radius: 2px;
}