html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

:root{
	--leftcolwidth: 11em;
	--bottomfooterheight: 3em;

}


html, body{
	height: 100%;
	overflow: hidden;
	margin: 0;

}



#content {
	height: 100%;
}

.left {
	float: left;
	width: var(--leftcolwidth);
	height: 100%;
	overflow: auto;
	box-sizing: border-box;
	background-color: #121212;
	-webkit-overflow-scrolling: touch;
	
	
}

.right {
	float: left;
	width: calc(100% - var(--leftcolwidth));
	height: 100%;
	overflow: auto;
	box-sizing: border-box;
	overflow-y:scroll;
	-webkit-overflow-scrolling: touch;
	
}






.sidenav {
	margin-top:1em;
	margin-bottom:1em;
}




@media screen and (max-width: 45.1em) {
	.left{
		display: none;
	}

	.right{
		width: 100%;
		
	}

	#content {
		height:calc(100% - var(--bottomfooterheight));
	}

}

.sidenav a {
  padding: 3px 2em 3px 2em;
  text-decoration: none;
  font-size: 12px;
  color: #c9c9c9;
  display: block;
  font-family: 'Roboto', sans-serif;
  border-radius: 3px;
}

.sidenav a:hover {
  color: #c9c9c9;
  background-color: rgb(39, 39, 39);
}

.sidenav .sidenavdivider{
	border-bottom: 1px solid #666666;
	margin: 7px 1.5em 7px 1.5em;
}




.main{
	background-color: #FFFFFF;
	color:#1e1e1e ;
	max-width:30em;
	margin:auto;
	margin-left:1.5em;
	margin-top:1em;
	margin-right:1.5em;
	
	
}

.footercontainer{
	background-color: #121212;
	color: #c9c9c9;
	height: var(--bottomfooterheight);
	overflow: auto;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
	
	overflow-y:hidden;
	
}

.navfooter{
	height:100%;
	padding-top: 0.4em;
}

.navfooter a{
	
  	text-decoration: none;
  	font-size: 12px;
  	color: #c9c9c9;
  	display: inline;
  	font-family: 'Roboto', sans-serif;
	padding-left: 4px;
	padding-right: 4px;
	
}


@media screen and (max-width: 45em) {
	.main{
		margin-left:1em;
		margin-right:1em;
	}

}

h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    text-align: left;
    font-size: 22px;
    margin-bottom: 0.5em;
}

h3 {
    text-transform: uppercase;
    font-family: 'Crimson Text', serif;
    font-size: 18px;
    margin-bottom: 0.5em;
    border-bottom: 1px solid #1e1e1e;
    font-weight: 600;
}

p {
	font-family: 'Crimson Text', serif;
	font-size: 18px;
	margin-bottom: 0.5em;
	text-indent: 1em;
	line-height: 125%;
}


ul {
    position: relative;
    list-style: none;
    margin-left: 0;
    margin-bottom: 0.5em;
    padding-left: 1.2em;
    line-height: 125%;
}

ul li:before {
    content: "•";
    position: absolute;
    left: 0;
}

li {
    font-family: 'Crimson Text', serif;
    font-size: 18px;
    line-height: 125%;
}

table {
    font-family: 'Crimson Text', serif;
    font-size: 16px;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1em;
}

td, th {
    border: 1px solid #aaaaaa;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
}

th {
    font-weight: 600;
    border-bottom: 2px solid #aaaaaa;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

tr:nth-child(odd) {
    background-color: #f5f5f5f5;
}

.spanleft {
	text-indent: 0em;
	font-family: 'Roboto mono', monospace;
	font-size: 13px;
	text-align:left;
	margin-bottom: 2px;
	font-weight:bold;
}

.spanright {
	text-indent: 0em;
	font-family: 'Roboto mono', monospace;
	font-size: 13px;
	float:right;
	margin-bottom: 0;
	font-weight:bold;
}

.exbar {
	color: #6691ff;
}

.vbar {
	color: #ff4d4d;
}

video {
	width: 100% ;
	height: auto ;
}

.videotext{
	text-indent: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	font-style:italic;
	margin-bottom: 1em;
	text-align:left;
	
	
}



.quote {
	font-style: italic;
	border-left: 5px solid #1e1e1e;
	padding-left: 1em;
	text-indent: 0;
}

.codeblock {
	font-family: 'Roboto mono', monospace;
	font-size: 13px;
	margin-bottom: 0.5em;
	text-indent: 0;
	background-color: #e0e0e0;
	padding: 0.5em;
	border-radius: 2px;
}